<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.inclassassignment10_rachellockerman">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Really Hard Android Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Object"
            android:label="Object Activity"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".List"
            android:label="List"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".Camera"
            android:label="Camera"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".Storage"
            android:label="Storage"
            android:parentActivityName=".MainActivity"
            ></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.inclassassignment10_rachellockerman"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>